@tailwind base;
@tailwind components;
@tailwind utilities;

.backgroundImage {
  background-image: url("/bg-hero.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.signupImage {
  background-image: url("/cabin-house.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
